.hero
    &__title
        font-weight: 700
        font-size: 38px
        line-height: 50px
        margin-top: 40px
        margin-bottom: 40px
    &__line
        margin-bottom: 40px
    &__list
        margin-bottom: 60px

.list
    width: 100%
    display: flex
    justify-content: space-between
    &__item1
        display: flex
        flex-direction: column
        align-items: center
        max-width: 192px
        height: 100%
        padding: 20px 15px
        border-radius: 5px
        background-color: #171717
    &__text1
        color: white
        font-size: 14px
        line-height: 21px
        margin-top: 21px
        font-weight: 500
    &-item
        max-width: 23%
        display: flex
        flex-direction: column
        align-items: center
    &__img
        margin-bottom: 20px
    &-text
        width: 100%
.vis2
    display: none
@media (max-width: 999px)
    .list
        flex-wrap: wrap
        &__item1
            max-width: 45%
            margin-bottom: 50px
            img
                width: 90%
        &-item
            max-width: 45%
@media (max-width: 420px)
    .list
        &__item1
            max-width: 100%
        &__itm
            max-width: 100%
            img
                width: 60%
    .vis2
        display: flex
    .vis1
        display: none
    .mb
        margin-bottom: 40px